:root {
  --screen-max: 1200px;
  --base-font: "Montserrat", sans-serif;
  --base-font2: "Pridi", serif;
  --footer-link-color: #fff;
  --grey-dark: #525252;
  --white: white;

}

html, body {
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src:url(../Fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src:url(../Fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src:url(../Fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: "Pridi";
  src: url(../Fonts/Pridi/Pridi-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Pridi";
  src: url(../Fonts/Pridi/Pridi-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: "Pridi";
  src: url(../Fonts/Pridi/Pridi-Bold.ttf.ttf);
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  footer .footer-top {
    display: flex;
  }
  footer .footer-left,
  footer .footer-right {
    flex: 1;
  }
  footer .footer-right {
    text-align: right;
  }

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}

}
body {
  font-family: var(--base-font);
  font-size: 100%;
  background: orange;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

html * {
  box-sizing: border-box;
}

#logo {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 5em;
  width: 5em;
  height: 5em;
}
#logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/logo_muthwill.svg) no-repeat;
  background-size: contain;
  background-color: var(--grey-dark);
  text-indent: -9999em;
  overflow: hidden;
}
#logo-part2 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 10em;
  width: 9em;
  height: 5em;

}
#logo-part2 a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "Montserrat";
  font-weight: lighter;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey-dark);
}

header {
  width: 100%;
  height: 45vw;
  background: lightgreen;
  overflow: hidden;
  position: relative;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

nav ul {
  list-style: none;
}

header .inner-wrapper,
footer .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

header h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: var(--base-font2);
  font-weight: lighter;
  text-transform: uppercase;
}

main {
  background: lightgrey;
  flex: 1;

}

h2 {
  font-family: var(--base-font2);
  font-weight: lighter;
  color: var(--white);
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


footer .footer-bottom {
}

footer a:link {
  color: lightgrey;
  text-decoration: none;
  text-transform: uppercase;
}

footer a:visited {
  color: var(--footer-link-color);
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  background: var(--grey-dark);
  color: #696969;
  font-family: var(--base-font2);
  font-weight: lighter;
}
